
.header-main {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.h-name {
  margin: 5px 0px;
  padding: 0px 2px;
}
.header-desc {
  margin: 5px 0px;
}
.header-menu {
  margin: 5px;
}